@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.game-animated {
  color: yellow;
  animation: troca-cor 5s infinite linear;
}

@media (min-width: 1400px) {
  .img-animated {
    animation: move-image 10s infinite linear;
  }

  @keyframes move-image {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(100% - 900px));
    }
    100% {
      transform: translateX(0);
    }
  }
}

@keyframes troca-cor {
  0% {
    color: yellow;
  }
  12.5% {
    color: white;
  }
  25% {
    color: red;
  }
  37.5% {
    color: orange;
  }
  50% {
    color: black;
  }
  62.5% {
    color: aqua;
  }
  75% {
    color: lightgreen;
  }
  87.5% {
    color: yellow;
  }
}

.background-animated {
  background: linear-gradient(45deg, #27374d, #526d82, #27374d, #2e2e2e);
  background-size: 300% 100%;
  animation: background-colors 15s ease-in-out infinite;
}
.background-banner {
  background: linear-gradient(
    45deg,
    #0d0d21,
    #0d0d21,
    rgba(255, 255, 255, 0.589),
    #0d0d21,
    #27374d
  );

  background-size: 300% 100%;
  animation: background-colors 15s ease-in-out infinite;
}
@keyframes background-colors {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 100% 60%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  min-height: 100vh;
  background-color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
